.app__header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.app__header-icon{
    width: 10%;
}
.app__header-icon img{
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
   
}
.app__header-icon img:hover{
    border: 2px solid rgb(0, 128, 94);
}
.app__header-navlist ul{   
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: max-content;
    margin-right: 2rem;
    list-style: none;
    color: whitesmoke;
}
.app__header-navlist ul li:hover{
    color:rgb(0, 128, 94);
}

@media (max-width:800px) {
    .app__header-icon{
        width: 18%;
    }
    .app__header-navlist ul{  
        gap: 1rem;
    }
}