.app__capsule{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 3rem;
    border:3px solid rgb(0, 128, 113)   ;
    padding: 4.5rem;
    margin-top: 3rem;
    border-radius: 10px;
   
}
.app__capsule-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.app__capsule-model{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;



    border: 2px solid rgb(7, 129, 129);
    position: fixed;
    transition: 5s ease;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90vh;
   
    background: rgba(0, 0, 0, 0.779);
    border-radius: 10px;
    z-index: 5;
}

.app__capsule-model-cross{
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    margin: 2rem 4rem;
}

.app__capsule-model-cross:hover{
    color: rgb(0, 255, 225);
    font-size: 45px;
}
.app__capsule-model-head{
    padding: 1rem;
    display: flex;
    flex-direction: column;
   text-align: center;
    gap: 1rem;
}
.app__capsule-model-head > *{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blanchedalmond;
}

@media (max-width:800px) {
        .app__capsule-model-details{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding: 3rem;
            gap: 1rem;
        }
}